*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background-color: #C3965B ;
    width: 10px;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

.navcover{
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: black;
    /* position: absolute; */
    top: 0;
    width: 100%;
    left: 0;
}
.navbar-brand{
    font-size: 25px;
}
.lay{
    border: 1px solid #C3965B;
    background: linear-gradient(91deg,#9bac09 0%, rgba(195, 150, 91, 0.70) 100.46%);
    box-shadow: 0px 20px 40px 0px rgba(114, 100, 100, 0.30);
    backdrop-filter: blur(10px);
    /* margin-bottom: -17%; */
}
.lay h4{
    color: #0F0F0F;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
/* .hrbtn{
    width: 150px;
} */

.hrbtn{
    width: 216px;
    height: 60px;
}
#skills{
    background-color: #000;
    padding-top: 7%;
    padding-bottom: 5%;
}
.skillcon{
    cursor: pointer;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 400px;
    display: grid;
    /* grid-template-columns: 1fr 1fr ; */
    place-items: center;
}
#services h3, #skills h3, #footer h3{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.68px;
    text-transform: uppercase;
}
.title{
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 70%;
    height: 5px;
    background-color: #C3965B;
}
.lay p{
    color: #0F0F0F !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 4px !important;
    text-transform: capitalize;
}
.logo{
    color: #9bac09;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
#hero{
    padding: 8%;
}
#hero h2{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#hero h2 span{
    color: #C3965B;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.12px;
    text-transform: uppercase;
}
#hero{
    padding-top: 17% !important;
}   
.photo img{
    border-radius: 100%;
    width: 100px;
}
p.hello{
    padding: 6px;
    font-size: 55px;
    font-style: normal;
}